/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,800;0,900;1,600&display=swap");

/* ROOT */
:root {
  /* COLORS */
  --main-theme: #0d0d2b;
  --alt-main-theme: #2b076e;
  --heading-text: #3671e9;
  --main-text-color: #fbfcfe;
  --bitcoin-text: #f89c2c;
  --ethereum-text: #1181e8;
  --litecoin-text: #59c19c;
  --coins-over-box: #2b076e;
  --sub-text-clr2: #8d8d8d;
  --sub-text-clr: #bdbdbd;
  /* FONT SIZES */
  --ff-l: 4rem;
  --ff-m: 2.5rem;
  --ff-sm: 1.25rem;
  --ff-x-sm: 1.125rem;
  --ff-xsm: 1rem;

  /* FONT WEIGHTS */
  --fw-b: 700;
  --fw-m: 500;
  --fw-sm: 400;

  /* LINE HEIGHT */
  --text-height-xl: 4.75rem;
  --text-height-l: 1.75rem;
  --text-height-m: 1.5rem;
  --line-height-sm: 1.6875rem;

  /* LETTER SPACING */
  --ls-h: 0.64px;
}

/* INIT */

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  scroll-behavior: smooth;
  scroll-behavior: smooth var(--ease-out-quad);
  /* scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  scroll-snap-stop: always; */
}

body {
  background-color: var(--main-theme);
  color: var(--main-text-color);
  font-family: "Rubik", sans-serif;
  font-size: var(--ff-xsm);
  overflow-x: hidden;
}

button {
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-pd {
  padding: 2rem 5rem;
}

.sec-btn,
.pri-btn {
  padding: 8px 24px;
  border: 1px solid var(--heading-text);
  border-radius: 32px;
  background-color: var(--heading-text);
  color: var(--main-text-color);
  font-size: var(--ff-xsm);
  line-height: var(--text-height-l);
  font-weight: var(--fw-m);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.01rem;
}

.pri-btn:hover {
  background-color: var(--main-text-color);
  color: var(--heading-text);
}

.sec-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: normal;
}

.sec-btn:focus {
  outline: 0.5px solid var(--heading-text);
}

/* INIT */

/* NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  z-index: 1;
}

.navSecBg {
  background-color: var(--alt-main-theme);
  transition: 0.1s ease-in-out;
}

main {
  margin-top: 9rem;
}

.link-btns,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn .line {
  width: 2px;
  background-color: var(--main-text-color);
  height: 30px;
  margin-right: 1.5rem;
}

/* NAV */

/* MAIN */

/* HERO SECTION */
.hero {
  background: rgb(13, 13, 43);
  background: -moz-linear-gradient(
    146deg,
    rgba(13, 13, 43, 1) 68%,
    rgba(189, 189, 189, 0.1) 73%,
    rgba(13, 13, 43, 1) 80%,
    rgba(111, 111, 124, 0.1) 84%,
    rgba(13, 13, 43, 1) 91%
  );
  background: -webkit-linear-gradient(
    146deg,
    rgba(13, 13, 43, 1) 68%,
    rgba(189, 189, 189, 0.1) 73%,
    rgba(13, 13, 43, 1) 80%,
    rgba(111, 111, 124, 0.1) 84%,
    rgba(13, 13, 43, 1) 91%
  );
  background: linear-gradient(
    146deg,
    rgba(13, 13, 43, 1) 68%,
    rgba(189, 189, 189, 0.1) 73%,
    rgba(13, 13, 43, 1) 80%,
    rgba(111, 111, 124, 0.2) 84%,
    rgba(13, 13, 43, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d0d2b",endColorstr="#0d0d2b",GradientType=1);
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center center;
  gap: 3rem;
}

.hero .hero-sec-image img {
  width: 100%;
}

.hero-sec-details-btn h1 {
  min-width: auto;
  font-size: var(--ff-l);
  font-weight: var(--fw-b);
  line-height: var(--text-height-xl);
}

.hero-sec-details-btn p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
  font-size: var(--ff-xsm);
  line-height: var(--text-height-l);
}

.hero-sec-details-btn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

.hero-sec-details-btn button.change.pri-btn:hover .try {
  background-color: var(--main-text-color);
  color: var(--heading-text);
}

.hero-sec-details-btn button i {
  background-color: var(--main-text-color);
  border: 1px solid var(--heading-text);
  border-radius: 50%;
  padding: 8px;
  color: var(--heading-text);
}

.hero-slide-btn {
  background-color: #ffffff1f;
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 6px;
  width: 65%;
  margin-bottom: 0.5rem;
}

.hero-slide-btn span:first-of-type {
  background-color: var(--main-text-color);
  color: var(--main-theme);
  padding: 2px 15px;
  border-radius: 150px;
  margin-right: 1.5rem;
}

.pri-btn:hover span:first-of-type {
  background-color: var(--heading-text);
  color: var(--main-text-color);
}

/* HERO SECTION */

/* MILESTONE SECTION */

.milestones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  margin-top: 4.5rem;
}

.digital,
.wallets,
.countries {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.digital i,
.wallets i,
.countries i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  width: 80px;
  font-size: 2.5rem;
  background-color: #fbfcfe2a;
  color: var(--heading-text);
  border-radius: 50%;
}

.digital-details span,
.countries-details span,
.wallets-details span {
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: var(--fw-b);
}

/* MILESTONE SECTION */

/* WHY */

.why {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center center;
  gap: 4rem;
  margin-top: 5rem;
}

.why img {
  width: 90%;
}

.why-container {
  position: relative;
}

.why-accent-img {
  position: absolute;
  right: -30%;
}

.why-accent-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10rem;
}

.why-accent-img img {
  width: 40%;
}

.why-details h2 {
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: var(--fw-b);
  margin-bottom: 1rem;
}

.why-details p {
  margin-bottom: 1.5rem;
  width: 70%;
  line-height: var(--text-height-l);
}

/* WHY */

/* EARN */
.earn {
  margin-top: 7rem;
}

.earn .first-child {
  margin-bottom: 10rem;
}

.earn .first-child > h3 {
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: var(--fw-b);
  margin-bottom: 1rem;
  text-align: center;
}

.earn .first-child > p {
  text-align: center;
  margin: auto;
  width: 60%;
  font-size: var(--ff-xsm);
  line-height: var(--text-height-l);
}

.hash-rate {
  position: absolute;
  bottom: 75%;
  left: 17%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 12px;
  width: 68%;
  margin: auto;
  margin-top: 6rem;
  background-color: var(--main-text-color);
  color: #000;
}

.hash-rate-header {
  padding: 2.5rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hash-rate-details {
  padding: 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.hash-rate-details span {
  font-weight: var(--fw-m);
  font-size: var(--ff-sm);
  color: var(--heading-text);
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.hash-rate-details h3,
.hash-rate-details h3 span {
  letter-spacing: 0.64px;
  font-weight: var(--fw-b);
  line-height: 3rem;
  font-size: 2rem;
  padding-bottom: 0.6rem;
}

.hash-rate-details p {
  color: var(--sub-text-clr2);
  padding-bottom: 0.6rem;
}

.hash-rate-header input {
  width: 403px;
  height: 38px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--sub-text-clr);
  font-family: "Rubik", sans-serif;
  font-size: var(--ff-sm);
}

.hash-rate-header input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: var(--ff-sm);
}

.hash-rate-header select {
  display: block;
  width: 200px;
  height: 38px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--sub-text-clr);
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: var(--ff-sm);
}

.hash-rate-crypto-opt {
  height: 160vh;
  background-color: #e8e8e8;
  position: relative;
}

.trade-securely {
  padding-top: 22rem;
}

.trade-securely h3 {
  width: 60%;
  margin: auto;
  color: #01010a;
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: center;
}

.coins {
  margin-top: 3rem;
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(3, 1fr);
}

.coin {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  height: 480px;
  padding: 48px 24px;
  background-color: var(--main-text-color);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.coin:hover {
  background-color: var(--coins-over-box);
}

.coin .btc {
  background-color: var(--bitcoin-text);
  padding: 14.5px 20px;
  border-radius: 50%;
}

.coin img {
  margin-bottom: 3rem;
}

.coin:nth-child(1) > span {
  font-size: 2rem;
  font-weight: var(--fw-m);
  color: var(--bitcoin-text);
}
.coin:nth-child(2) > span {
  font-size: 2rem;
  font-weight: var(--fw-m);
  color: var(--ethereum-text);
}
.coin:nth-child(3) > span {
  font-size: 2rem;
  font-weight: var(--fw-m);
  color: var(--litecoin-text);
}

.coin span > sup {
  font-size: var(--ff-x-sm);
  color: var(--sub-text-clr2);
  text-transform: uppercase;
  margin-left: 10px;
}

.coin p {
  color: var(--sub-text-clr2);
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;
  letter-spacing: 0.01em;
}

.coin > div > span {
  display: none;
}

.coin:hover > div > span {
  display: block;
}

.coin > div {
  margin-top: 2.5rem;
  color: var(--heading-text);
  border: 1px solid var(--sub-text-clr2);
  border-radius: 50%;
}

.coin:hover > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 24px;
  border: 1px solid var(--heading-text);
  border-radius: 32px;
  background-color: var(--heading-text);
  color: var(--main-text-color);
  font-size: var(--ff-xsm);
  line-height: var(--text-height-l);
  font-weight: var(--fw-m);
  cursor: pointer;
  letter-spacing: 0.01rem;
}

.coin > div > i {
  font-size: 3.5rem;
}

.coin:hover > div > i {
  color: var(--heading-text);
  background-color: var(--main-text-color);
  border-radius: 50%;
  font-size: 1.8rem;
}

/* EARN */

/* MARKET SENTIMENT */
.market-sentiments {
  background-color: rgb(43, 7, 110);
  padding: 2rem 4.5rem;
}

.market-sentiment-sect > h3 {
  width: 60%;
  margin: auto;
  color: var(--main-text-color);
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: 500;
  margin-bottom: 4rem;
  margin-top: 4rem;
  text-align: center;
}

.invest-smart,
.detailed-stats,
.profit-track {
  margin-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailed-stats {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5rem;
}

.invest-smart-details,
.invest-smart-image,
.detailed-stats-details,
.detailed-stats-image,
.profit-track-image .profit-track-details {
  flex: 1;
  flex-basis: 50%;
}

.invest-smart-details p,
.detailed-stats-details p,
.profit-track-details p {
  width: 67%;
  font-size: var(--ff-xsm);
  line-height: var(--text-height-l);
}

.invest-smart-details h3,
.detailed-stats-details h3,
.profit-track-details h3 {
  width: 100%;
  color: var(--main-text-color);
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: 500;
  text-align: start;
  margin-bottom: 1rem;
}

.invest-smart-details button,
.detailed-stats-details button,
.profit-track-details button {
  margin-top: 1.5rem;
}

.detailed-stats-image,
.invest-smart-image {
  width: 85%;
}

.profit-track-image {
  width: 100%;
  height: 100%;
}

.detailed-stats-image img,
.invest-smart-image img {
  width: 100%;
}

.profit-track-image img {
  width: 100%;
  height: 100%;
  place-self: end;
}

/* MARKET SENTIMENT */

/* CTA */

.CTA {
  background-color: var(--coins-over-box);
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
}

.call-to-action {
  position: relative;
  background-color: var(--ethereum-text);
  width: 100%;
  padding: 3rem 3rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action img:nth-child(1) {
  position: absolute;
  z-index: 1;
  top: 1%;
}

.call-to-action img:nth-child(2) {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1;
}

.call-to-action h3 {
  width: 100%;
  color: var(--main-text-color);
  font-size: var(--ff-m);
  line-height: 3.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.call-to-action p {
  width: 70%;
}

.call-to-action input {
  width: 403px;
  height: 38px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--sub-text-clr);
  font-family: "Rubik", sans-serif;
  color: var(--main-text-color);
  font-size: var(--ff-sm);
  margin-right: 15px;
}

.call-to-action input::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: var(--ff-sm);
  color: var(--main-text-color);
}

.call-to-action button {
  font-size: var(--ff-sm);
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--main-text-color);
  color: var(--main-theme);
  border: 1px solid var(--main-text-color);
}

.call-to-action button:hover {
  background-color: var(--main-theme);
  color: var(--main-text-color);
}

/* CTA */

/* FOOTER */

footer {
  padding: 5rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}

.footer-details {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2.2rem;
}

.footer-logo,
.footer-quick-links,
.footer-resources-links {
  flex: 1;
  flex-basis: 22%;
}

.footer-CTA {
  flex-basis: 40%;
}

.footer-quick-links ul,
.footer-resources-links ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.footer-quick-links ul span,
.footer-resources-links ul span {
  margin-bottom: 1.5rem;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.875rem;
  font-size: 1.25rem;
}

.footer-copy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-CTA h4 {
  margin-bottom: 2.5rem;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 3rem;
  font-size: 2rem;
}

.footer-CTA .footer-payments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center start;
}

.footer-CTA .footer-payments img {
  height: auto;
  width: 50%;
}

.footer-copy .footer-socials {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.footer-copy .footer-socials i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
  animation: none;
}

.footer-copy .footer-socials i:hover {
  animation: bounce;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* FOOTER */
